.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myForm {
  margin: 0 auto;
  /* outline: solid black 2px; */
  background-color: rgb(173, 173, 173);
  max-width: 1000px;
}
.myLabel {
  /* background-color: red; */
  font-size: 2rem;
}
.myInput {
  width: 580px;
  height: 40px;
  font-size: 2.1rem;
}
button {
  font-size: 2.1rem;
  background-color: none;
}
.cardMovieList {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}
.card {
  margin: 0 auto;
  /* background-color: red; */
  max-width: 1000px;
  width: 313px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
img {
  width: 100%;
}
.avrgRating-red {
  color: red;
}
.avrgRating-green {
  color: green;
}
.cardTextFormat {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
h4 {
  margin: 7px 0;
}
h2 {
  margin-bottom: 0;
}
button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .myInput {
    max-width: 365px;
    font-size: 1.5em;
  }
}
